
.seis-divs {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #222; */
}


/* .seis-divs img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
  } */

.wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
}
 .card{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
 }

 .card:hover{
    transform: translateY(20px);
 }

 .card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
    z-index: 2;
    transition: 0.5 all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info {
    position: relative;
    z-index: 3;
    color: #ffffff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card .info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgb(0, 0, 0, 0.5);
}

/*! */

.cards-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 35px;
    
}

.movie{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgb(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.movie:hover{
    transform: translateY(20px);
}

.movie:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgb(0, 0, 0));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.movie:hover:before{
    opacity: 1;
}
.card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.movie h1 {
    position:relative;
    z-index: 3;
    color: #ffffff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    font-family:serif;
    font-size: 25px;
    font-weight: bold;
}

.movie:hover h1 {
    opacity: 1;
    transform: translateY(0px);
}

.movie p {
    position:relative;
    z-index: 3;
    color: #ffffff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    font-family:serif;
    
}

.movie:hover p {
    opacity: 1;
    transform: translateY(0px);
}

